body {
    margin: 0;
    height: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.header {
    padding: 15px 0;
    background-color: #fff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #1a90f1;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #358cd3;
    width: 80%;
}

.logo-content img {
    border: 0px solid #42515f;
    width: 50px;
    height: 47px;
}

.address-text {
    font: normal normal bold 22px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
}

.address-book {
    color: #0f161d;
}

* {
    box-sizing: border-box;
}